@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f44336;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.weather-data-item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.weather-data-item i {
  font-size: 48px;
}

.weather-data-item span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.weather-data-item button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.alert {
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #dc3545;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

